@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");

  font-display: swap;
}

.nav .link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 700;
}

body {

  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  box-sizing: border-box;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

}
/* header */
 .nav {
  width: 1200px;
  height: 64px;
  display: flex;
}

.logo {
  margin-left: 70px;
  margin-right: 30px;
  z-index: 1;
}

.nav-links {
  width: 339px;
  display: grid;
  grid-template-columns: 100px 114px 125px;
  justify-content: center;
  height: 64px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-weight: 600;
}

.search-menu {
  width: 268px;
  display: grid;
  grid-template-columns: 20px 20px 160px;
  grid-template-rows: 64px;
  justify-content: space-between;
  align-content: center;
  padding-left: 0;
  margin-left: 295px;
  margin-right: 70px;
  list-style: none;

}


/* ссылки */
.link {
  text-align: center;
  height: 64px;
  display: grid;
  margin: 20 0 20;
  align-items: center;

}

.link a {
 text-decoration: none;
 font-weight: 700;
}

.customs-menu img {
  margin: 0;
  padding: 16px;
}

 .button {

  font-size: 16px;
  padding: 8px 26px;
  background-color: rgb(51, 36, 36);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

/* main */
.hero {
  background-color: #fff;
  background-image: url("../img/Sedona-background.jpg");
  background-repeat: no-repeat;
  height: 767px;
  margin-bottom: 0;

}

.hero img:first-child {
  margin: 51px 371px 22px;
}

.comfort {
  height: 250px;
  padding-bottom: 0;
}


/* класс для широких подзаголовков H2 */
.frame-for-h2  h2 {
padding-top: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.frame-for-h2  p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #333333;
}



.frame-for-h2 {
  height: 220px;
  padding: 20px 274.5px 20px;
  text-align: center;
}

.frame-for-h2:nth-child(1) {
  padding-bottom: 8px;
}
/* Заинтересовались */
.interest {
  height: 406px;
}

.interest h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

/* крупные блоки флексы гриды */
.true-town,
.bridge {
  display: flex;
}

.town-block,
.frame-3in1
 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 384px;
}


/* фон для квадратов .frame-square*/
.town-block .frame-square,
.frame-3in1 .frame-square {
  background-color:  rgba(131, 179, 211, 0.12);
  color: #333333;
}
/* Жильё еда сувениры  */
.frame-3in1 .frame-square {
  justify-content: start;
}
.icons-comfort {
  margin-top: 80px;
  margin-bottom: 7px;
}

.frame-square:nth-child(even) {
  background-color:   rgba(131, 179, 211, 0.12);
}

.frame-square:nth-child(odd) {
  background-color: rgba(104, 162, 202, 0.3);
}

.true-town .frame-square,
.bridge .frame-square {
  background-color: #82B3D3;
}


.frame-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
  color: #ffffff;
  margin: 0;
  font-size: 18px;
}

.frame-square h3,
.frame-square p {
  width: 230px;
  text-align: center;
  padding-left: 85px;
  padding-right: 85px;
}

.frame-square h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  /* padding-top: 100px; */
}

.short-string {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
/* кнопка ПОИСК ГОСТИНИЦЫ В седоне*/
.frame-for-h2 .button {
font-style: normal;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
margin: 50px auto 94px;
}
/*section class="subscribe"  */
.subscribe {
  border-top: 1px solid #76c0d6;
  height: 415px;
  background-image: url(../img/Subscribe-fog.png);
}

.subscribe-catalog {
  border-top: 1px solid #76c0d6;
  height: 415px;
}



.subscribe-catalog-h2 {
  width: 475px;
  margin: 96px auto 45px;
  text-align: center;
  color:#333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-h2  {
  width: 475px;
  margin: 96px auto 45px;
  text-align: center;
  color:#ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

}

.subscribe-h2 h2 {
  padding-top: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-catalog-h2 h2 {
  padding-top: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}



.subscribe-form {
text-align: center;
}

.input-email {
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 430px;
  height: 52px;
  border-radius: 5px;
  margin-right: 0;

}
.input-submit {
  width: 230px;
  height: 52px;
  margin-left: 0;
  border-radius: 5px;
  padding: 9px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82B3D3;
  color: #ffffff;

}

/* footer */

.footer {
  width: 1200px;
  height: 120px;
}

.frame-footer {
  width: 1060px;
  height: 50px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 142px 720px  115px;
  grid-template-rows: 50px;
  align-items: center;
  gap: 40px
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 0;
}


.footer-phone {
  height: 50px;
  padding-top: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}
