body {
  background-color: rgb(227, 238, 236);
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

container.nav {
  width: 1200px;
  outline: 1px solid red;
  height: 64px;
  display: flex;
}

container img {
  margin-right: 30px;
  margin-left: 70px;
}

.links {
  width: 339px;
  display: grid;
  grid-template-columns: 100px 114px 125px;
  height: 64px;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  padding-top: 22px;
  margin: 0;
  font-weight: 600;
}

.link a {
  font-size: 16px;
  padding:  16px;
}

.customs-menu {
  width: 268px;
  display: grid;
  grid-template-columns: 20px 20px 160px;
  margin-left: 145px;
  list-style: none;
}

 a.button {
  width: 160px;
  font-size: 16px;
  padding: 8px 26px;
  background-color: rgb(51, 36, 36);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 100px;
}
